@model IEnumerable<Systemintegration.CaseOpgave.Shared.DataTransferObjects.WeatherParam>

@{
    ViewData["Title"] = "Index";
}

<h1>Weather Forcast</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conditions)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp) &#8451
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conditions)
            </td>
        </tr>
}
    </tbody>
</table>
